.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    background-color: white;
    .header__logoImage{
        width: 100px;
        object-fit: contain;
    }
    .headerSearch{
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
        .header__searchInputContainer {
            display: flex;
            align-items: center;
            padding:  0.8rem 1rem 0.8rem 2rem !important;
            border-radius: 50px;
            text-transform: inherit;
            background-color: white;
            text-align: left;
            animation-name: example;
            animation-duration: 0.2s;
            width: 300px;
            .MuiButton-label{
                display: flex;
                justify-content: space-between;
            }
            .header__searchIconContainer{
                display: flex;
                align-items: center;
                background-color: #FF385C;
                border-radius: 100px;
                .MuiSvgIcon-root{
                    color: white;
                }
            }
        }
    }
    .headerRight{
        display: flex;
        align-items: center;
        .header__hostButton{
            background-color: white;
            text-transform: inherit;
            border: none;
            box-shadow: none;
            border-radius: 30px;
        }
        .header__hostButton:hover{
            background-color: #f3f3f3;
        }
    }
}

@keyframes example {
    from { width: 500px;}
    to { width: 300px;}
}